a:hover {
    color: hotpink;}
    a{
        color: green;
    }
    #ab{
        background-color:yellow;
    }
    li {
        font-size: 2em;
    }
    span
{
    font-weight: bold;
}
#l,#lo,#le
{
    color:red
}
#so{
    font: bold;color:blue;
}
#sel{
    list-style:none ;
}